p, h3, h4, h5, h6, th{
    color: purple;
}

p {
    font-size : 18px;
    font-weight: bold;
}

body {
    background-color: lightseagreen
}
h1, p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular'
}

h1 {
    padding-top: 10px;
    margin : 0px;
    background-color: black;
}

table {
    border: 2px solid purple;
    border-collapse: collapse}

    form {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    th, td {
        border: 1px solid purple;
        padding: 5px;
    }

    label {
      font-weight: bold;
    }
    
    input[type="text"], input[type="email"] {
      padding: 8px;
      border: 1px solid #ddd;
      border-radius: 4px;
    }
    
    input[type="submit"] {
      background-color: purple;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type="submit"]:hover {
      background-color: purple;
    }

.transition-button {
        background-color: lightblue;
        padding: 10px 50px;
        margin: 10px;
        border: none;
        cursor: pointer;
        transition: background-color 1s ease;
      }
      
      .transition-button:hover {
        background-color: lightcoral;
      }
  
.animation-box {
        width: 200px;
        height: 300px;
        background-color: black;
        position: absolute;
        display: flex;
        justify-content: flex-end;
        animation: move 4s infinite alternate;
        cursor: pointer;
        transition: background-color 0.5s ease;

      }
      .animation-box:hover {
        background-color: purple;
      }
      
      @keyframes move {
        from {
          left:900px;
        }
        to {
          left: 1300px;
        }
      }

.pseudo-list li:nth-child(odd) {
    background-color: pink;
  }

  .pseudo-list li:nth-child(even) {
    background-color: lightgreen;
  }
.pseudo-list {
  float: right;
  clear: right;
  font-size: 25px;
  margin-right: 280px;
}

h2:nth-of-type(2) {
    float: right;
    font-size: 30px;
    margin-right: 280px;
}

.filter-image {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
  }

  .filter-image:hover {
    filter: grayscale(0%);
  }

.container {
    position: relative;
    text-align: center;
  }

  .quote {
    font-style: italic;
    color: purple;
    font-size: 50px;
    text-align: center;
    position:absolute;
    left: 15%;
  }